default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: password
  host: localhost

development:
  <<: *default
  database: grammable1_development

test:
  <<: *default
  database: grammable1_test

production:
  <<: *default
  database: grammable1_production
  ## username: grammable1
  ## password: <%= ENV['GRAMMABLE1_DATABASE_PASSWORD'] %>
